n8n_automations/Final Wordpress ai tool.json
{
  "name": "Final Wordpress ai tool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-content-publisher",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9c9a1f08-8850-446c-937e-ac967e16e63e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1072,
        480
      ],
      "webhookId": "seo-content-publisher"
    },
    {
      "parameters": {
        "jsCode": "// Safely get input data\nconst inputData = $input.first();\nif (!inputData) {\n  throw new Error('No input data received from webhook');\n}\n\nconst webhookData = inputData.json.body || inputData.json;\n\n// Extract all fields using nullish coalescing to allow empty strings\nconst topic = webhookData.topic ?? '';\nconst location = webhookData.location ?? '';\nconst occupation = webhookData.occupation ?? '';\nconst audience = webhookData.audience ?? '';\nconst tone = webhookData.tone || 'professional';\nconst keywords = webhookData.keywords ?? '';\nconst sections = parseInt(webhookData.sections) || 5;\nconst wp_url = webhookData.wp_url ?? '';\nconst wp_username = webhookData.wp_username ?? '';\nconst wp_app_password = webhookData.wp_app_password ?? '';\n\n// Check for image in binary data\nconst hasImage = inputData.binary && inputData.binary.image;\n\n// Validate only truly required fields (WordPress credentials and topic)\nconst missingFields = [];\nif (!topic || topic.trim() === '') missingFields.push('topic');\nif (!wp_url || wp_url.trim() === '') missingFields.push('wp_url');\nif (!wp_username || wp_username.trim() === '') missingFields.push('wp_username');\nif (!wp_app_password || wp_app_password.trim() === '') missingFields.push('wp_app_password');\n\nif (missingFields.length > 0) {\n  throw new Error('Missing required fields: ' + missingFields.join(', '));\n}\n\n// Clean WordPress URL (remove trailing slash)\nconst cleanWpUrl = wp_url.replace(/\\/$/, '');\n\n// Base64 encode credentials for WordPress Basic Auth\nconst authString = `${wp_username}:${wp_app_password}`;\nconst base64Auth = Buffer.from(authString).toString('base64');\n\nreturn [{\n  json: {\n    topic,\n    location,\n    occupation,\n    audience,\n    tone,\n    keywords,\n    sections,\n    wp_url: cleanWpUrl,\n    wp_username,\n    wp_app_password,\n    base64_auth: base64Auth,\n    has_image: hasImage\n  },\n  binary: inputData.binary || {}\n}];"
      },
      "id": "c6157761-af69-4457-805d-aa8d2d1e5aae",
      "name": "Extract Webhook Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        480
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert SEO strategist. Analyze this topic and create a complete SEO strategy:\n\nTopic: {{ $json.topic }}\nLocation: {{ $json.location }}\nOccupation / Business type: {{ $json.occupation }}\nTarget audience: {{ $json.audience }}\nPrimary keywords (comma‑separated): {{ $json.keywords }}\n\nReturn a SINGLE valid JSON object only (no markdown, no explanations), with this exact structure:\n\n{\n  \"seo_title\": \"SEO‑optimized page title (max 60 characters, include main keyword and location where natural)\",\n  \"slug\": \"url-friendly-slug-using-hyphens-and-lowercase\",\n  \"meta_title\": \"Compelling meta title (max 60 characters, may match or refine seo_title)\",\n  \"meta_description\": \"Persuasive meta description (max 155 characters, include main keyword + location + clear benefit/CTA)\",\n  \"keyword_strategy\": [\n    \"primary keyword phrase\",\n    \"secondary keyword phrase\",\n    \"supporting long‑tail keyword 1\",\n    \"supporting long‑tail keyword 2\",\n    \"supporting long‑tail keyword 3\"\n  ],\n  \"section_structure\": [\n    {\n      \"section_number\": 1,\n      \"section_title\": \"First section heading (e.g. Introduction or Core Problem)\",\n      \"section_focus\": \"1–2 sentence description of what this section will cover\"\n    },\n    {\n      \"section_number\": 2,\n      \"section_title\": \"Second section heading\",\n      \"section_focus\": \"1–2 sentence description\"\n    },\n    {\n      \"section_number\": 3,\n      \"section_title\": \"Third section heading\",\n      \"section_focus\": \"1–2 sentence description\"\n    },\n    {\n      \"section_number\": 4,\n      \"section_title\": \"Fourth section heading\",\n      \"section_focus\": \"1–2 sentence description\"\n    },\n    {\n      \"section_number\": 5,\n      \"section_title\": \"Fifth section heading (e.g. Pricing, Process, or Local Factors)\",\n      \"section_focus\": \"1–2 sentence description\"\n    }\n  ]\n}\n\nRules:\n- Tailor everything to the specific topic, location, occupation, and audience.\n- Keep titles human‑readable, not keyword‑stuffed.\n- Always return valid JSON that matches the schema exactly.\n- Do NOT include any backticks, comments, or extra text outside the JSON.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a precise SEO strategy generator.\n\nYou always:\n- Respect the user’s topic, location, occupation, and audience.\n- Produce strategies that are specific to that context (no generic filler).\n- Output ONLY a single JSON object that exactly matches the requested schema.\n- Keep lengths within the requested character limits for titles and meta description.\n\nYou never:\n- Change the user’s niche or location to something else.\n- Add explanations, markdown, or extra text around the JSON.\n- Return multiple JSON objects or arrays at the top level.\n\nIf the input topic is unclear, infer the most likely intent but stay within the same niche and location."
        }
      },
      "id": "d3ad75fc-2ba1-4ec1-9616-4b6035270ba0",
      "name": "Generate SEO Strategy",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -656,
        272
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0.8
        }
      },
      "id": "f67a96d7-58ef-4f59-85cc-7b073b1ea3ea",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -768,
        1024
      ],
      "credentials": {
        "openAiApi": {
          "id": "aY59ZNxr9BvORFM3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"seo_title\": \"string (60 chars max)\",\n  \"slug\": \"string (lowercase-with-hyphens)\",\n  \"meta_title\": \"string (60 chars max)\",\n  \"meta_description\": \"string (155 chars max)\",\n  \"keyword_strategy\": [\"keyword1\", \"keyword2\", \"keyword3\"],\n  \"section_structure\": [\n    {\n      \"section_number\": 1,\n      \"section_title\": \"string\",\n      \"section_focus\": \"string (brief description of what this section should cover)\"\n    }\n  ]\n}"
      },
      "id": "9a3bab5c-8361-4890-b9d3-83b222265165",
      "name": "SEO Strategy Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -480,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nif (!input) throw new Error(\"No SEO data\");\n\nconst seo = input.json.output || input.json;\nconst webhook = $('Extract Webhook Inputs').first()?.json || {};\n\nconst sections = seo.section_structure || [];\nif (sections.length === 0) throw new Error(\"No sections found\");\n\n// Build items for each section\nconst items = sections.map((s, i) => ({\n  json: {\n    section_number: s.section_number || i + 1,\n    section_title: s.section_title,\n    section_focus: s.section_focus,\n\n    // context\n    topic: webhook.topic || \"\",\n    location: webhook.location || \"\",\n    occupation: webhook.occupation || \"\",\n    audience: webhook.audience || \"\",\n    tone: webhook.tone || \"\",\n    keywords: webhook.keywords || \"\",\n    keyword_strategy: seo.keyword_strategy || [],\n    total_sections: sections.length,\n\n    // SEO fields\n    seo_title: seo.seo_title,\n    slug: seo.slug,\n    meta_title: seo.meta_title,\n    meta_description: seo.meta_description\n  },\n  // keep binary for image upload later\n  binary: input.binary || {}\n}));\n\nreturn items;\n"
      },
      "id": "3ef1b183-feb5-490e-998a-c3fc11962f05",
      "name": "Prepare Sections for Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        336
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "03507a31-ae6a-4b5d-b45b-0ac7556ff967",
      "name": "Loop Through Sections",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional SEO content writer.\n\nWrite a COMPREHENSIVE section (650–850 words) for a blog article on:\nSection title: {{ $json.section_title }}\n\nCONTEXT:\n- Main topic: {{ $json.topic }}\n- Location: {{ $json.location }}\n- Occupation / business type: {{ $json.occupation }}\n- Target audience: {{ $json.audience }}\n- Tone: {{ $json.tone }}\n- Section focus: {{ $json.section_focus }}\n\nREQUIREMENTS – YOUR CONTENT MUST INCLUDE:\n\n1. REAL EXAMPLES (at least 3):\n   - Use specific, believable examples relevant to this topic and audience\n   - Mention concrete scenarios, numbers, tools, or situations\n   - Make examples feel local or contextual to {{ $json.location }} when natural\n\n2. ACTIONABLE, STEP‑BY‑STEP DETAIL:\n   - Explain HOW to do things, not just what or why\n   - Include clear steps, checklists, or mini‑processes\n   - Mention tools, timelines, and common mistakes to avoid where relevant\n\n3. DATA & SIGNALS OF EXPERTISE:\n   - Use at least 2 data points, ranges, or percentages (they can be approximate but realistic)\n   - Briefly explain WHY the advice works (principles, logic, best practices)\n   - Address 1–2 common problems or objections and how to handle them\n\n4. READABILITY & STRUCTURE:\n   - Short paragraphs (max 2–3 sentences each)\n   - Use <strong> to highlight key phrases or important points\n   - Include at least one list (<ul><li>…</li></ul>) if it improves clarity\n   - Do NOT repeat the section title inside the body content\n   - Do NOT talk about “this section” or “in this section”\n\n5. SEO & TONE:\n   - Naturally weave in ideas relevant to {{ $json.keywords }} without keyword stuffing\n   - Write in a helpful, human, confident tone that matches {{ $json.tone }}\n   - Assume the reader is intelligent but may be a beginner for this topic\n\nSTRUCTURE:\n- Open with a relatable problem, situation, or benefit tied to this section’s focus\n- Develop the main ideas with steps, explanations, and examples\n- Close with a clear action step or transition that sets up the next part of the article\n\nOUTPUT:\nReturn ONLY the section body as clean HTML. Use only:\n<p>, <strong>, <ul>, <ol>, <li>, <h3> tags.\nNo JSON, no markdown, no comments, no meta text.",
        "options": {
          "systemMessage": "=You are an expert long-form SEO content writer.\n\nYou always:\n- Write detailed, specific, practical content for the given topic, location, audience, and section focus.\n- Sound like a human expert who has done this work in real life.\n- Use only valid HTML tags (<p>, <strong>, <ul>, <ol>, <li>, <h3>).\n- Return ONLY the HTML for the section body, with no wrappers, JSON, or markdown.\n\nYou never:\n- Hardcode any specific business name, address, or phone number.\n- Change the niche or location away from what the user provided.\n- Use filler phrases like “In this section we will…”."
        }
      },
      "id": "3b9e7de9-ac05-4c9e-af60-24c116ea7c73",
      "name": "Generate Section Content",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        592,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// AI result for this section\nconst ai = $input.first().json;\n\n// Original section metadata from the loop\nconst original = $('Loop Through Sections').item.json;\n\n// 1) Get HTML content from AI\nlet content =\n  ai.output ||            // LangChain agent output\n  ai.content ||           // just in case\n  ai.text || \"\";\n\n// 2) Clean out any stray template placeholders just in case\ncontent = content\n  .replace(/{{\\s*[^}]+\\s*}}/g, \"\")\n  .replace(/{{[^}]+}}/g, \"\")\n  .trim();\n\n// 3) Get section metadata from the original item\nconst sectionNumber = original.section_number;\nconst sectionTitle =\n  original.section_title || `Section ${sectionNumber ?? \"\"}`;\n\n// 4) Build final HTML block for this section\nconst sectionHtml = `<h2>${sectionTitle}</h2>\\n${content}`;\n\n// 5) Return merged data: original metadata + final HTML\nreturn [\n  {\n    json: {\n      ...original,\n      section_number: sectionNumber,\n      section_title: sectionTitle,\n      section_html: sectionHtml,\n    },\n  },\n];\n"
      },
      "id": "88759dbe-397d-469b-a3e2-86d6504f7013",
      "name": "Format Section HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all formatted sections (from the whole loop)\nconst sectionItems = $items('Format Section HTML').map(i => i.json);\n\n// Get SEO data\nconst seoRaw = $('Generate SEO Strategy').first().json;\nconst seo = seoRaw.output || seoRaw;\n\n// Get webhook context\nconst webhook = $('Extract Webhook Inputs').first().json;\n\n// Sort sections by number\nsectionItems.sort((a, b) => a.section_number - b.section_number);\n\n// Get introduction from dedicated node\nlet introduction = '';\ntry {\n  const introNode = $('Generate Compelling Introduction').first();\n  if (introNode && introNode.json) {\n    introduction = introNode.json.output || introNode.json.text || '';\n  }\n} catch (e) {\n  introduction = `<p>Comprehensive guide on ${webhook.topic} in ${webhook.location} for ${webhook.occupation} professionals.</p>`;\n}\n\n// Combine section HTML\nconst sectionsHtml = sectionItems\n  .map(s => s.section_html)\n  .join('\\n\\n');\n\n// Get conclusion from dedicated node\nlet conclusion = '';\ntry {\n  const conclusionNode = $('Generate Conclusion with CTA').first();\n  if (conclusionNode && conclusionNode.json) {\n    conclusion = conclusionNode.json.output || conclusionNode.json.text || '';\n  }\n} catch (e) {\n  conclusion = `<h2>Conclusion</h2><p>Thank you for reading this guide.</p>`;\n}\n\n// Get FAQ section from CLEAN node (JSON-LD + HTML already split)\nlet faqHtml = '';\nlet faqSchema = '';\ntry {\n  const faqNode = $('Clean FAQ Output').first();\n  if (faqNode && faqNode.json) {\n    faqHtml = faqNode.json.faq_html || '';\n    faqSchema = faqNode.json.faq_schema_json_ld || '';\n    if (faqHtml && !faqHtml.includes('<h2')) {\n      faqHtml = `<h2>Frequently Asked Questions</h2>\\n${faqHtml}`;\n    }\n  }\n} catch (e) {\n  faqHtml = '';\n  faqSchema = '';\n}\n\n// Build final article in correct order\nconst articleHtml = [introduction, sectionsHtml, conclusion, faqHtml]\n  .filter(part => part && part.trim())\n  .join('\\n\\n')\n  .trim();\n\n// Return article data + WP creds + context\nreturn [{\n  json: {\n    seo_title: seo.seo_title,\n    slug: seo.slug,\n    meta_title: seo.meta_title,\n    meta_description: seo.meta_description,\n    article_html: articleHtml,\n    keyword_strategy: seo.keyword_strategy || [],\n    introduction_html: introduction,\n    sections_html: sectionsHtml,\n    conclusion_html: conclusion,\n    faq_html: faqHtml,\n    faq_schema_json_ld: faqSchema,\n    topic: webhook.topic || '',\n    location: webhook.location || '',\n    occupation: webhook.occupation || '',\n    audience: webhook.audience || '',\n    keywords: webhook.keywords || '',\n    wp_url: webhook.wp_url,\n    wp_username: webhook.wp_username,\n    wp_app_password: webhook.wp_app_password,\n    base64_auth: webhook.base64_auth,\n    has_image: !!webhook.has_image\n  },\n  binary: $('Extract Webhook Inputs').first().binary || {}\n}];"
      },
      "id": "f3a54ce2-5e35-4acb-9af3-fae4c9f6126f",
      "name": "Assemble Article HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_image }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "condition-1765205411207-14cyekt1f"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "0a925383-d861-44f3-ac1a-9aa489eb8e50",
      "name": "Check for Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const upload = $input.first().json;\nconst article = $('Assemble Article HTML').first().json;\n\nconst mediaId = upload?.id || null;\n\nreturn [{\n  json: {\n    ...article,\n    featured_media: mediaId,\n    uploaded_image_url: upload?.guid?.rendered || null\n  },\n  binary: $('Assemble Article HTML').first().binary || {}\n}];\n"
      },
      "id": "245b5bbe-ba42-4932-9f8f-b0846aee1db7",
      "name": "Extract Media ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$input.first().json,\n    featured_media: 0\n  }\n}];\n"
      },
      "id": "997d5e00-a6d5-4ffd-8b3d-f94b33f9c03e",
      "name": "No Image - Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get WordPress response\nconst postResponse = $input.first()?.json || {};\nconst postId = postResponse.id || null;\n\n// Get article metadata safely\nconst articleNode = $('Assemble Article HTML').item;\nconst articleData = articleNode ? articleNode.json : {};\n\n// Build post URL safely\nlet postUrl = postResponse.link;\nif (!postUrl && articleData.wp_url && postId) {\n  postUrl = `${articleData.wp_url}/?p=${postId}`;\n}\n\n// Return combined metadata\nreturn [{\n  json: {\n    post_id: postId,\n    post_url: postUrl || null,\n\n    // Yoast data\n    meta_title: articleData.meta_title || \"\",\n    meta_description: articleData.meta_description || \"\",\n\n    // WP auth\n    wp_url: articleData.wp_url,\n    base64_auth: articleData.base64_auth,\n\n    // SEO context\n    topic: articleData.topic,\n    location: articleData.location,\n    occupation: articleData.occupation,\n    audience: articleData.audience,\n    keywords: articleData.keywords,\n    keyword_strategy: articleData.keyword_strategy || [],\n\n    // also helpful downstream\n    seo_title: articleData.seo_title,\n    slug: articleData.slug\n  }\n}];\n"
      },
      "id": "bd4d38dd-3560-427f-a058-ec2affbbae44",
      "name": "Extract Post ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        800
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.wp_url }}/wp-json/wp/v2/posts/{{ $json.post_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $json.base64_auth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"rank_math_title\": \"{{ $json.meta_title }}\",\n    \"rank_math_description\": \"{{ $json.meta_description }}\",\n    \"rank_math_focus_keyword\": \"{{ $json.keyword_strategy[0] || $json.keywords.split(',')[0] }}\",\n    \"_rank_math_title\": \"{{ $json.meta_title }}\",\n    \"_rank_math_description\": \"{{ $json.meta_description }}\",\n    \"_rank_math_focus_keyword\": \"{{ $json.keyword_strategy[0] || $json.keywords.split(',')[0] }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "bf73926e-3492-4189-b4d9-16abf43bad76",
      "name": "Inject Rank Math SEO Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const postData = $input.first().json;\n\nconst occupation = (postData.occupation || '').toLowerCase();\nconst topic = (postData.topic || '').toLowerCase();\n\nconst isServiceRelated = occupation.includes('service') || topic.includes('service');\n\n\nlet schema;\n\nif (isServiceRelated) {\n  // Service schema\n  schema = {\n    \"@context\": \"https://schema.org\",\n    \"@type\": \"Service\",\n    \"name\": postData.topic,\n    \"description\": postData.meta_description,\n    \"provider\": {\n      \"@type\": \"Organization\",\n      \"name\": `${postData.occupation} in ${postData.location}`\n    },\n    \"areaServed\": {\n      \"@type\": \"Place\",\n      \"name\": postData.location\n    },\n    \"url\": postData.post_url,\n    \"keywords\": postData.keywords\n  };\n} else {\n  // Article schema\n  schema = {\n    \"@context\": \"https://schema.org\",\n    \"@type\": \"Article\",\n    \"headline\": postData.meta_title,\n    \"description\": postData.meta_description,\n    \"keywords\": postData.keywords,\n    \"articleBody\": postData.meta_description,\n    \"url\": postData.post_url,\n    \"about\": {\n      \"@type\": \"Thing\",\n      \"name\": postData.topic\n    },\n    \"locationCreated\": {\n      \"@type\": \"Place\",\n      \"name\": postData.location\n    },\n    \"audience\": {\n      \"@type\": \"Audience\",\n      \"audienceType\": postData.occupation\n    }\n  };\n}\n\nreturn [{\n  json: {\n    post_id: postData.post_id,\n    post_url: postData.post_url,\n    schema_json_ld: schema\n  }\n}];"
      },
      "id": "7cd403e9-7222-4c0c-98dc-5f19ea7b7b51",
      "name": "Generate Schema Markup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const postData = $input.first().json;\n\n// Format final response JSON\nconst response = {\n  success: true,\n  message: \"Post created successfully\",\n  post_id: postData.post_id,\n  post_url: postData.post_url,\n  schema_json_ld: postData.schema_json_ld\n};\n\nreturn [{\n  json: response\n}];"
      },
      "id": "649aa5d0-4932-4558-8e5a-b1392c3a26ad",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f704ccae-7192-40be-959a-994fc0bab228",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3376,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wp_url }}/wp-json/wp/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $json.base64_auth }}"
            },
            {
              "name": "Content-Type",
              "value": "={{$binary.image.mimeType}}"
            },
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{$binary.image.fileName}}\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "a65e86c1-d338-4222-b864-7c458dad0a0f",
      "name": "Upload Image to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Check for Image').item.json.wp_url }}/wp-json/wp/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $('Check for Image').item.json.base64_auth }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\ntitle: $json.seo_title,\nslug: $json.slug,\ncontent: $(\"Assemble Article HTML\").item.json.article_html,\nstatus: \"draft\",\nfeatured_media: $json.featured_media || 0,\nmeta: {\n  rank_math_title: $(\"Assemble Article HTML\").item.json.meta_title,\n  rank_math_description: $(\"Assemble Article HTML\").item.json.meta_description,\n  rank_math_focus_keyword: $(\"Assemble Article HTML\").item.json.keyword_strategy[0] || $(\"Assemble Article HTML\").item.json.keywords.split(',')[0],\n  _rank_math_title: $(\"Assemble Article HTML\").item.json.meta_title,\n  _rank_math_description: $(\"Assemble Article HTML\").item.json.meta_description,\n  _rank_math_focus_keyword: $(\"Assemble Article HTML\").item.json.keyword_strategy[0] || $(\"Assemble Article HTML\").item.json.keywords.split(',')[0]\n}\n}\n}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d8a9e162-e9a7-4be3-8e5c-02fd43dbe507",
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        800
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional SEO copywriter.\n\nWrite a compelling 200–250 word INTRODUCTION for a blog article with the following context:\n\nTopic: {{ $json.topic }}\nLocation: {{ $json.location }}\nOccupation / business type: {{ $json.occupation }}\nTarget audience: {{ $json.audience }}\nTone: {{ $json.tone }}\n\nGOAL:\nHook the reader quickly, show that you understand their situation, and make them want to read the full article.\n\nREQUIREMENTS:\n\n1) OPENING HOOK:\n- Start with a relatable problem, frustration, missed opportunity, or desire that {{ $json.audience }} in {{ $json.location }} will instantly recognise.\n- Make it feel specific to the topic, not generic.\n\n2) WHY THIS MATTERS HERE:\n- Briefly explain why this topic is especially important or relevant in {{ $json.location }} (local conditions, market, regulations, lifestyle, etc., when appropriate).\n\n3) CLEAR PROMISE / TRANSFORMATION:\n- Explain what will change for the reader if they follow the advice in this article.\n- Make the benefit concrete and outcome-focused (what they gain, save, avoid, or improve).\n\n4) PREVIEW OF SECTIONS:\n- Give a short “roadmap” sentence that hints at the main areas the article will cover (without listing boring headings).\n- Make the reader feel the article is practical and structured.\n\n5) STYLE & SEO:\n- Keep paragraphs short (2–3 sentences max).\n- Use the requested tone: {{ $json.tone }}.\n- Naturally weave in the main idea of {{ $json.topic }} and {{ $json.location }} without keyword stuffing.\n\nOUTPUT RULES:\n- Output ONLY HTML <p> tags (you may use <strong> for emphasis if really needed).\n- Do NOT use <h1>, <h2>, or any headings.\n- Do NOT mention “this article will cover” in a robotic way; phrase it naturally.\n- Length: 200–250 words.",
        "options": {
          "systemMessage": "=You are an expert at writing short, high-conversion intros for SEO blog posts.\n\nYou always:\n- Focus on the reader’s problem, context, and desired outcome.\n- Keep the introduction tight, concrete, and benefit-driven.\n- Match the topic, location, occupation, audience, and tone given.\n- Return ONLY valid HTML using <p> (and optional <strong>) with no extra wrappers or metadata.\n\nYou never:\n- Add headings, lists, or conclusions.\n- Add any JSON, markdown, or explanatory text around the HTML.\n- Change the niche or location away from the input."
        }
      },
      "id": "2f4bb06b-11ff-4d3e-95cd-348f7dcf0dc9",
      "name": "Generate Compelling Introduction",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -64,
        752
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a 150-200 word conclusion for an article about:\n{{ $('Loop Through Sections').item.json.topic }}\n\nThis conclusion MUST:\n1. Summarize 3-4 key takeaways from the article\n2. Reinforce the main transformation/benefit\n3. Include a SPECIFIC, COMPELLING call-to-action (not generic)\n\nExamples of GOOD CTAs:\n- 'Ready to transform your Congleton garden? Get a free landscape assessment from our team of Cheshire garden designers. Request your consultation today.'\n- 'Start planning your garden redesign. Download our free Cheshire gardening checklist and get 25% off your first professional consultation.'\n\nExamples of BAD CTAs:\n- 'We hope this guide helped' ❌\n- 'Contact us if you need help' ❌\n\nFor {{ $('Loop Through Sections').item.json.occupation }} professionals in {{ $('Loop Through Sections').item.json.location }}, create a CTA that:\n- Specifies the action (consultation, free assessment, checklist download)\n- Uses specific location name\n- Includes value proposition\n- Creates urgency (optional: limited offer)\n\nOutput as HTML with the CTA wrapped in <strong> tags.",
        "options": {}
      },
      "id": "883a4550-31d9-4660-ab02-f4ffa52f93bb",
      "name": "Generate Conclusion with CTA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        272,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an SEO content specialist.\n\nCreate 8–10 frequently asked questions (FAQs) for this article:\n\nTopic: {{ $('Prepare Sections for Loop').item.json.topic }}\nLocation: {{ $('Prepare Sections for Loop').item.json.location }}\nOccupation / business type: {{ $('Prepare Sections for Loop').item.json.occupation }}\nTarget audience: {{ $('Prepare Sections for Loop').item.json.audience }}\n\nREQUIREMENTS\n\n1) QUESTIONS\n- Each question must be answerable from the article’s content.\n- Mix question types:\n  - “How…”, “What…”, “Why…”, “Where…”, “How much…”\n- Include {{ $('Prepare Sections for Loop').item.json.location }} in at least 2 questions where it sounds natural.\n- Include {{ $('Prepare Sections for Loop').item.json.occupation }} or the service in 1–2 questions where relevant.\n- Avoid yes/no questions; make them open and useful.\n\n2) ANSWERS\n- Each answer: 1–3 clear sentences.\n- Must be consistent with the article (no new facts you can’t justify from typical best practice).\n- Practical, specific, and non‑fluffy.\n\n3) OUTPUT FORMAT (VERY IMPORTANT)\n\nFirst, output ONLY a valid JSON-LD object in this shape:\n\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"FAQPage\",\n  \"mainEntity\": [\n    {\n      \"@type\": \"Question\",\n      \"name\": \"Question 1 text?\",\n      \"acceptedAnswer\": {\n        \"@type\": \"Answer\",\n        \"text\": \"Answer 1 in 1–3 sentences.\"\n      }\n    }\n    (...continue for all 8–10 questions...)\n  ]\n}\n\nThen, after ONE blank line, output HTML for display using ONLY this pattern:\n\n<div class=\"faq-item\">\n  <h3>Question 1 text?</h3>\n  <p>Answer 1 in 1–3 sentences.</p>\n</div>\n<div class=\"faq-item\">\n  <h3>Question 2 text?</h3>\n  <p>Answer 2 in 1–3 sentences.</p>\n</div>\n(...continue for all questions...)\n\nRULES\n- Do NOT wrap anything in ``````html, or any markdown fences.\n- Do NOT add any heading like “Frequently Asked Questions”; the page will handle headings.\n- Do NOT add commentary before or after the JSON-LD and HTML blocks.\n- JSON-LD object first, then one blank line, then the HTML block.",
        "options": {
          "systemMessage": "=You generate SEO-optimised FAQ content for a single article.\n\nYou always:\n- Create 8–10 natural, helpful questions a real customer would ask.\n- Base answers on the article’s topic, location, occupation, and audience.\n- Include {{ $('Prepare Sections for Loop').item.json.location }} and the service context where it feels natural.\n- Output EXACTLY two things in this order:\n  1) One valid FAQPage JSON-LD object.\n  2) One HTML block with <div class=\"faq-item\"><h3>…</h3><p>…</p></div> for each Q&A.\n- Keep answers concise (1–3 sentences) and informative.\n\nYou never:\n- Use markdown code fences or backticks.\n- Add headings, labels, or extra commentary around the output.\n- Invent a different topic, location, or occupation than the input.\n- Return any other format besides the JSON-LD object followed by the HTML block."
        }
      },
      "id": "29f3fbe1-1f4c-4a10-8b70-2aa518460060",
      "name": "Generate FAQ Section",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        576,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get raw output string from the FAQ node\nconst raw = $input.first().json.output || $input.first().json.text || '';\n\n// Find where the JSON-LD ends (last closing brace)\nconst jsonStart = raw.indexOf('{');\nconst jsonEnd = raw.lastIndexOf('}');\n\nlet faqSchema = '';\nlet faqHtml = '';\n\n// If we found a JSON block, split it\nif (jsonStart !== -1 && jsonEnd !== -1 && jsonEnd > jsonStart) {\n  faqSchema = raw.slice(jsonStart, jsonEnd + 1).trim();\n  faqHtml = raw.slice(jsonEnd + 1).trim();  // everything after JSON = HTML\n} else {\n  // Fallback: treat whole thing as HTML if parse fails\n  faqHtml = raw.trim();\n}\n\n// Return both pieces for downstream nodes\nreturn [{\n  json: {\n    faq_schema_json_ld: faqSchema,\n    faq_html: faqHtml,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        768
      ],
      "id": "a3b65e81-0597-482f-9ca5-1f46dd972cf4",
      "name": "Clean FAQ Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Webhook Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Inputs": {
      "main": [
        [
          {
            "node": "Generate SEO Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO Strategy": {
      "main": [
        [
          {
            "node": "Prepare Sections for Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Generate SEO Strategy",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Section Content",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Conclusion with CTA",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate FAQ Section",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Compelling Introduction",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SEO Strategy Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate SEO Strategy",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sections for Loop": {
      "main": [
        [
          {
            "node": "Loop Through Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Sections": {
      "main": [
        [
          {
            "node": "Generate Compelling Introduction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Section Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Content": {
      "main": [
        [
          {
            "node": "Format Section HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Section HTML": {
      "main": [
        [
          {
            "node": "Loop Through Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Article HTML": {
      "main": [
        [
          {
            "node": "Check for Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Image": {
      "main": [
        [
          {
            "node": "Upload Image to WordPress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Image - Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Media ID": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Image - Continue": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post ID": {
      "main": [
        [
          {
            "node": "Inject Yoast Meta Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Yoast Meta Tags": {
      "main": [
        [
          {
            "node": "Generate Schema Markup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Schema Markup": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to WordPress": {
      "main": [
        [
          {
            "node": "Extract Media ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post": {
      "main": [
        [
          {
            "node": "Extract Post ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Compelling Introduction": {
      "main": [
        [
          {
            "node": "Generate Conclusion with CTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Conclusion with CTA": {
      "main": [
        [
          {
            "node": "Generate FAQ Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FAQ Section": {
      "main": [
        [
          {
            "node": "Clean FAQ Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean FAQ Code": {
      "main": [
        [
          {
            "node": "Assemble Article HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "13166eb9-a743-480e-a520-d3fe1add9001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f22798d705466212dbdd32496eb8d445df2404e773ff7a98d783a7bb51248e29"
  },
  "id": "ktNVtQuQlBtYckd0",
  "tags": []
}